@import "tailwindcss";
@import "tw-animate-css";
@import './assets/fonts.css';
@import './App.css';

@theme {
    --color-highlight: #292C3C;
    --color-secondary-text: #3E4257;
    --color-secondary: #386150;
    --color-accent: #FFEAEC;
    --color-background: #CDD6F4;

    --color-card-outline: #554488;

    --color-card: #C9CFF0;

    --color-button: #292C3C;
    --color-button-text: #E6EBFE;

    --shadow-override-lg: 24px 24px 0px 0px #282055;
    --shadow-override-md: 16px 16px 0px 0px #282055;
    --shadow-override: 9px 9px 0px 0px #282055;

    --firas: "Fira Sans", sans-serif;
}